.credentials {
  font-size: 2rem;
  width: 100%;
  padding: 2rem 7rem;
}

.credentials h2 {
  margin: 2rem 0 3rem 0;
}

.credentialItems {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  height: 35rem;
  justify-content: space-between;
  /* justify-content: center; */
  text-align: center;
}
