.section {
  background-color: var(--color-grey-9);
  width: 45%;
  display: flex;
  flex-flow: column;
  min-height: 20rem;
  font-size: 1.8rem;
  padding: 3rem;
}

.form {
  padding-top: 1rem;
}

.credentials {
  padding: 1rem;
}

.credential {
  padding: 1rem;
}

.credential label {
  font-size: 1.8rem;
}

.credential input {
  width: 20rem;
  padding: 0.2rem 0.5rem;
  margin-left: 0.7rem;
  color: black;
}

.actions {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.action {
  border: 3px solid var(--color-grey-2);
  background-color: var(--color-grey-10);
  padding: 0.5rem 1.5rem;
  margin: 5rem 2.5rem;
  font-size: 1.8rem;
}

.action:hover {
  background-color: var(--color-grey-7);
  cursor: pointer;
}

.actions .source:hover {
  text-decoration: underline;
}
