.chart-wrapper-four {
  display: flex;
  flex-direction: column;
}

.chart-wrapper-four__row {
  display: flex;
  gap: 15px;
}

.chart-wrapper-four__col {
  padding: 10px;
  border: 1px solid green;
  width: 100%;
}

.chart-area-four {
  border: 1px solid brown;
}

.add-new-data {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
}

.row--active {
  background-color: yellow;
}

.col {
  width: 100%;

  padding: 10px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
