@import './styles/main.scss';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.App {
  display: flex;
  background-color: rgb(255, 240, 240);

  main {
    display: flex;
    flex-direction: column;
    flex: 8;

    .main__container {
      margin: 5px 15px;
      display: flex;
      background-color: white;
      padding: 10px 20px;
      border-radius: 20px;
      width: inherit;
      min-height: calc(100vw - $navbar-max-height);
      @include box-shadow-mixin;
    }
  }
}
