$color-main-white: #fcfcfd;
$color-main-dark: #212121;

$color-main-light: #a6d2ff;
$color-main-medium: #006fdd;
$color-main-medium-transparent: #006fdd4d;

$color-gray-light: rgb(225, 225, 225);
$color-gray-medium: rgb(182, 180, 180);
$color-gray-dark: #858585;
$color-gray-dark-transparent: #5f5f5faf;

$color-status-success: green;
$color-status-success-transparent: rgba(0, 128, 0, 0.575);
$color-status-pending: goldenrod;
$color-status-pending-transparent: rgba(218, 165, 32, 0.151);
$color-status-error: crimson;

$color-severity-critical: rgb(191, 0, 1);
$color-font-error: red;
$color-severity-medium: #ffab00;
$color-severity-high: #fd7e14;
$color-severity-low: #ccc;

$color-comments-red-light: #f08080;

$color-button-view: darkblue;
$color-button-view-transparent: rgba(0, 0, 139, 0.3);
$color-button-delete: red; //TODO
$color-button-delete-transparent: rgba(255, 0, 0, 0.336); //TODO
