$color-main-white: rgb(255, 253, 253);
$color-main-black: #0f0305;

$color-text-editor-white: #f3f3f3;

// app color - reds pallete
$color-main-dark: #9a1b30;
$color-main-medium: #ce2942;
$color-main-medium-transparent: #f850691f;
$color-main-light: #faeff1;

// font colors
$color-font-dark: #130104;
$color-font-medium: #730717;
$color-font-light: #f9e7e9;

// gray shadows
$color-gray-dark: #858585;
$color-gray-medium: rgb(182, 180, 180);
$color-gray-light: rgb(225, 225, 225);

// statuses
$color-status-success: green;
$color-status-success-transparent: rgba(0, 128, 0, 0.151);

$color-status-pending: goldenrod;
$color-status-pending-transparent: rgba(218, 165, 32, 0.151);

$color-status-error: crimson;
$color-status-error-transparent: rgba(128, 0, 0, 0.151);

// buttons
$color-button-view: darkblue;
$color-button-view-transparent: rgba(0, 0, 139, 0.3);

$color-button-delete: crimson;
$color-button-delete-transparent: rgba(220, 20, 60, 0.3);

// cve status
$color-severity-critical: crimson;
$color-severity-high: #fd5602;
$color-severity-medium: goldenrod;
$color-severity-low: #d3d3d3;

// TODO
// reds
// #faeff1
// dd8c94
// ef839c
// #dc3c52
// #faeff1
// #be0e28
// #ce6777
// #9a1b30
// #b0374a
// #dd8c94
// #bc435c
// #ef839c
// #dc3c52
// https://imagecolorpicker.com/color-code/dc3c52
// https://imagecolorpicker.com/color-code/9a1b30 NAJLEPSZA old brick
// https://imagecolorpicker.com/color-code/c00c27 głowny kolor

// TODO - dark mode
// Dark Mode
$color-dark-mode-black: #111;
