$color-main-white: rgb(255, 253, 253);
$color-main-black: #0f0305;

$color-main-dark: #9a1b30;
$color-main-medium: #ce2942;
$color-main-light: #faeff1;

$color-font-dark: #130104;
$color-font-medium: #730717;
$color-font-light: #f9e7e9;

$color-gray-dark: #4c4c4c;
$color-gray-medium: #999;
$color-gray-light: rga(225, 225, 225);

// TODO
// reds
// #faeff1
// dd8c94
// ef839c
// #dc3c52
// #faeff1
// #be0e28
// #ce6777
// #9a1b30
// #b0374a
// #dd8c94
// #bc435c
// #ef839c
// #dc3c52
// https://imagecolorpicker.com/color-code/dc3c52
// https://imagecolorpicker.com/color-code/9a1b30 NAJLEPSZA old brick
// https://imagecolorpicker.com/color-code/c00c27 głowny kolor
