.App.dark {
  background-color: #111; //#222; taki sam jak tabelki
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: gray;
    }
  }

  .navbar {
    color: #999;
    border-color: #333; //softer
    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111; //taki sam jak całości i tabelki
    border-color: #333; //softer taki sam jak navabara
    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      // linia po nazwą loga
      border-color: #333; //softer taki sam jak navabara
    }
    ul {
      li {
        &:hover {
          background-color: #333; //softer taki sam jak navabara
        }
      }

      .icon {
        color: #999; //jak navbar
      }
    }
  }

  .datatable {
    .datagrid {
      color: gray;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: none;
      }
    }
  }

  input {
    background-color: transparent;
  }
}
