$sidebar-min-height: 620px;
$sidebar-min-width: 300px;

@mixin tablet-breakpoint {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-reakpoint {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin sidebar-breakpoint {
  @media only screen and (min-height: $sidebar-min-height) and (min-width: $sidebar-min-width) {
    @content;
  }
}

@mixin box-shadow-mixin {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.5);
}
