$sidebar-min-height: 620px;
$sidebar-min-width: 300px;

@mixin tablet-breakpoint {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin sidebar-breakpoint {
  @media only screen and (min-height: $sidebar-min-height) and (min-width: $sidebar-min-width) {
    @content;
  }
}

@mixin box-shadow-mixin {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.5);
}

// status info
@mixin status-success-mixin {
  background-color: $color-status-success-transparent;
  color: $color-status-success;
}

@mixin status-pending-mixin {
  background-color: $color-status-pending-transparent;
  color: $color-status-pending;
}

@mixin status-error-mixin {
  background-color: $color-status-error-transparent;
  color: $color-status-error;
}

// buttons
@mixin button-base-mixin {
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
}

@mixin button-view-mixin {
  @include button-base-mixin;
  color: $color-button-view;
  border: 1px solid $color-button-view-transparent;
}

@mixin button-update-mixin {
  @include button-base-mixin;
  color: $color-button-view;
  border: 1px solid $color-button-view-transparent;
}

@mixin button-delete-mixin {
  @include button-base-mixin;
  color: $color-button-delete;
  border: 1px solid $color-button-delete-transparent;
}

@mixin button-submit-mixin {
  @include button-base-mixin;
  color: $color-button-delete;
  border: 1px solid $color-button-delete-transparent;
}
