$pallete-pink-warm-dark: #ff5ba5;
$pallete-pink-warm-medium: #ff84bc;
$pallete-pink-warm-light: #ffbbda;

$pallete-pink-cold-dark: #db49ac;
$pallete-pink-cold-medium: #e472bf;
$pallete-pink-cold-loght: #f0addb;

$pallete-purple-dark: #9957cd;
$pallete-purple-medium: #b07cda;
$pallete-purple-light: #d1b2ea;

$palette-blue-dark: #438ec8;
$palette-blue-medium: #6ba7d6;
$palette-blue-light: #a8cce8;

$palette-green-dark: #3bc6b6;
$palette-green-medium: #64d4c7;
$palette-green-light: #a4e7df;
