@import "../../styles//main.scss";
// font sizes
$font-size-small: 1rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.8rem;

// gray shadows
$color-gray-dark: #858585;

// main app colors
$color-main-dark: #9a1b30;
$color-main-medium: #ce2942;
