asgiref==3.2.7
censys==0.0.8
certifi==2019.11.28
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
colorama==0.4.3
Django==3.0.5
dnspython==2.0.0
idna==2.8
netaddr==0.7.19
pytz==2019.3
requests==2.22.0
requests-toolbelt==0.9.1
-e git+https://github.com/pawlaczyk/sarenka.git@e73737e7a327db8192a8bececb80f3d789801ba3#egg=sarenka&subdirectory=backend
shodan==1.21.3
sqlparse==0.3.1
typing==3.7.4.1
urllib3==1.25.8
XlsxWriter==1.2.7
