certifi==2019.11.28
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
colorama==0.4.3
idna==2.8
requests==2.22.0
-e git+https://github.com/pawlaczyk/sarenka.git@8098a8cc59c67cb1f27d650e2595b69797f9c367#egg=sarenka&subdirectory=backend
shodan==1.21.3
typing==3.7.4.1
urllib3==1.25.8
XlsxWriter==1.2.7
