asgiref==3.2.3
censys==0.0.8
certifi==2019.11.28
chardet==3.0.4
click-plugins==1.1.1
colorama==0.4.3
Django==3.0.2
idna==2.8
netaddr==0.7.19
pkg-resources==0.0.0
pytz==2019.3
requests==2.22.0
shodan==1.21.3
sqlparse==0.3.0
urllib3==1.25.7
