@import '../../styles/main.scss';
@import '../_settings/variables';

.loadingContainer {
  flex: 6;
  height: 100vh;

  .spinnerContainer {
    margin-top: calc(50vh - $navbar-height);
    margin-left: calc(50vw - $sidebar-width);

    .spinner {
      width: 100px;
      height: 100px;
    }
  }
}
