@import '../../../styles/main.scss';

.visualizations {
  margin-left: $sidebar-max-width;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: inherit;
  min-height: calc(100vh - ($navbar-max-height) * 1.2);
  background-color: grey;
}

.visualizations__row {
  display: flex;
  width: 100%;
  border: 1px solid darkgray;
  min-height: 37vh;
}

.visualizations_col {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-gray-light;
  min-width: 27vw;
}

.visualizations_col--double-width {
  min-width: 54vw;
}

.visualizations_col--full-width {
  min-width: calc(100vw - $sidebar-max-width * 1.2);
}

.visualizations__card {
  font-size: 1.4rem;
  width: inherit;
  height: 100%;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  @include box-shadow-mixin;
  background-color: white;
}
