@import "../../../styles/main.scss";
@import "../../_settings/variables";

.default {
  display: flex;
  height: 100vh;
  background-color: $color-main-white;

  .defaultContainer {
    flex: 6;
    height: 100vh;

    .children {
      padding: 0 15px;
      background-color: pink;
    }
  }
}

// TODO - dark mode
.App.dark {
  .default {
    display: flex;
    height: 100vh;
    background-color: black;

    .defaultContainer {
      flex: 6;
      height: 100vh;
    }
  }
}
