.visualizations__calendar-heatmap {
  display: flex;
  flex-direction: column;
  //BUG   align-items: center; nie za bardzo działają z SVG ;<
  align-items: stretch;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 50px;
  margin-bottom: 15px;
}

.calendar-heatmap-svg {
  display: block;
  padding: 0 50px;
  width: 100%;
  height: 100%;
  overflow: visible;
}