@import "../../../styles/main.scss";

.login {
  position: relative;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-main-light;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login__title {
  color: whitesmoke;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 10px;
}

.login__form {
  margin-top: 15px;
}

.login__footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.login__logo {
  height: 50px;
}
