.periodic-table {
  display: grid;
  // 18 kolumn bo tyle ma tablica okresowa
  grid-template-columns: repeat(18, 64px);
  grid-template-rows: repeat(10, 64px);
  //   WARNING trick na wycentrowanie elementu
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.6rem;
}
