.header-main
  background-color: $nav-bgc
  width: 100%
  font-size: 30px
  height: 75px
  text-align: right
  line-height: 75px
  padding-right: 50px

  a.header-url
    color: white
    text-decoration: none

