.header-main
  display: flex
  align-items: center /*wyśrodkowuje w pione - oś prosotpadła do głównej X*/
  justify-content: space-between
  height: $header-height
  background-color: $sarenka-black
  font-size: 26px

  & div
    display: flex
    align-items: center
    justify-content: center
    background-color: yellow
    width: $menu-width
    &img
      width: 90%
    &.header-search
      background-color: red
      flex-grow: 10
      width: calc((100vw - (2 * #{$menu-width})) / 2)
      & input
        display: block
        border-radius: 15px
        height: calc(#{$header-height} / 2)
        width: 100%
        padding-left: 15px
        text-decoration: none
        text-underline: none
    &.header-settings
      text-decoration: none


