//active menu
nav.menu-main.active
  position: absolute
  //background-color: $sarenka-black
  width: $menu-width
  height: calc(100vh - #{$header-height})
  font-size: 1.8rem
  ul
    display: flex
    flex-direction: column
    li
      border-right: 1px solid darkgray
      border-bottom: 2px solid
      display: flex
      align-items: center /*wysrodkowanie w pionie*/
      justify-content: space-between
      padding-right: 15px
      background-color: $sarenka-black
      transition: .2s

      &:nth-child(even)
        background-color: $sarenka-black-lighter
      a.nav-link
        display: block
        width: calc(100% - 50px)
        height: 100%
        color: white
        text-decoration: none
        padding: 20px 25px 20px 8px
        border-right: 2px solid #5f1010
        transition: .2s
      &:hover i
        color: #ccc
      &:hover a.nav-link
        border-right: 2px solid #aaa
        background-color: black
        color: darkred
      & div.menu-ico
        color: #6f1717
        height: 100%
        width: $menu-ico-size
        font-size: 2rem
        padding-right: 5px
        text-align: center
        i
          transition: .2s



  button
    position: absolute
    right: 30px
    bottom: 30px
    height: 50px
    width: 50px
    background-color: black
    color: white
    font-size: 35px
    +circle-border(2px, white)
    transition: .2s linear

    &:hover
      color: #1a1a1a
      font-weight: bold
      background-color: pink

//inactive menu
