div.wrap.settings
  & h1
    text-transform: uppercase
    font-size: 3rem
    text-align: center
  & section
    display: flex
    flex-direction: column
    min-width: 200px
    max-width: 20%
    font-size: 1.7rem
    +default-input(30px, 100%)
    h2
      font-size: 2rem
      margin-bottom: -7px
    .credential
      margin-bottom: 30px
      padding: 20px 0
    p
      font-size: 1.2rem
    p:nth-of-type(even)
      margin-top: 15px
    button
      align-self: flex-end
      color: white
      font-weight: bold
      padding: 5px 15px
      font-size: 1.6rem
      background-color: $sarenka-red
      text-transform: uppercase
      border: 2px solid darkgray
      text-align: center


