* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #1a1a1a;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

nav.menu-main {
  position: absolute;
  top: 0;
  left: calc(48px - 200px);
  width: 200px;
  height: calc(100vh - 50px);
  font-size: 1.8rem;
  z-index: 1;
}
nav.menu-main ul {
  display: flex;
  flex-direction: column;
}
nav.menu-main ul li {
  background-color: #1a1a1a;
  transition: 0.2s;
  height: 100%;
  line-height: 250%;
  /*okreslic wysoklosc linii*/
}
nav.menu-main ul li:first-child {
  text-transform: uppercase;
}
nav.menu-main ul li:nth-child(even) {
  background-color: #292828;
}
nav.menu-main ul li .nav-link {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  flex-basis: 100%;
  padding-left: 3rem;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid black;
}
nav.menu-main ul li .nav-link .menu-name {
  background-color: pink;
  align-self: flex-start;
  margin-bottom: auto;
  height: 100%;
  width: 100%;
}
nav.menu-main ul li div.nav-link {
  justify-content: flex-end;
}
nav.menu-main ul li div.nav-link div.menu-ico i {
  transition: 0.3s;
}
nav.menu-main ul li:hover i {
  color: #ccc;
}
nav.menu-main ul li:hover .nav-link {
  background-color: black;
  color: darkred;
}
nav.menu-main ul li:hover .nav-link div.menu-ico {
  background-color: #710b1c;
  border-left: 2px solid white;
  color: white;
}
nav.menu-main ul li div.menu-ico {
  background-color: #6f1717;
  font-size: 2rem;
  padding-right: 5px;
  text-align: center;
  margin-right: 0;
  border-left: 2px solid darkred;
  width: 50px;
}
nav.menu-main ul li div.menu-ico i {
  transition: 0.2s;
}
nav.menu-main ul li div.menu-ico.menu-ico-logo {
  line-height: 100%;
  padding: calc(10% / 2);
}
nav.menu-main ul li div.menu-ico.menu-ico-logo img {
  width: 90%;
}

nav.menu-main.active {
  top: 0;
  left: 0;
}
nav.menu-main.active div.nav-link div.menu-ico i {
  transform: rotate(-180deg);
}

div.wrap.active {
  margin-left: 200px;
}

div.wrap {
  min-height: 100vh;
  margin-left: 50px;
  padding: 30px 30px 0;
  color: white;
  font-size: 2.5rem;
}

div.wrap.settings h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}
div.wrap.settings section {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 20%;
  font-size: 1.7rem;
}
div.wrap.settings section input {
  display: block;
  font-size: 1.7rem;
  height: 30px;
  width: 100%;
  padding-left: 20px;
  border: 0;
  background-color: #ddd;
}
div.wrap.settings section input::placeholder {
  text-transform: lowercase;
  color: #777;
}
div.wrap.settings section input:focus, div.wrap.settings section input:active {
  outline: none;
  background-color: white;
}
div.wrap.settings section .con {
  display: inline-block;
  position: relative;
}
div.wrap.settings section .con:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 13px solid #1a1a1a;
  border-right: 14px solid transparent;
}
div.wrap.settings section .con:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 13px solid #1a1a1a;
  border-left: 14px solid transparent;
}
div.wrap.settings section h2 {
  font-size: 2rem;
  margin-bottom: -7px;
}
div.wrap.settings section .credential {
  margin-bottom: 30px;
  padding: 20px 0;
}
div.wrap.settings section p {
  font-size: 1.2rem;
}
div.wrap.settings section p:nth-of-type(even) {
  margin-top: 15px;
}
div.wrap.settings section button {
  align-self: flex-end;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  font-size: 1.6rem;
  background-color: #710b1c;
  text-transform: uppercase;
  border: 2px solid darkgray;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
