* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

nav.menu-main {
  position: absolute;
  top: 0;
  left: calc(48px - 200px);
  width: 200px;
  height: calc(100vh - 50px);
  font-size: 1.8rem;
}
nav.menu-main ul {
  display: flex;
  flex-direction: column;
}
nav.menu-main ul li {
  background-color: #1a1a1a;
  transition: 0.2s;
  height: 100%;
  line-height: 250%;
  /*okreslic wysoklosc linii*/
}
nav.menu-main ul li:first-child {
  text-transform: uppercase;
}
nav.menu-main ul li:nth-child(even) {
  background-color: #292828;
}
nav.menu-main ul li .nav-link {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  flex-basis: 100%;
  padding-left: 3rem;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid black;
}
nav.menu-main ul li .nav-link .menu-name {
  background-color: pink;
  align-self: flex-start;
  margin-bottom: auto;
  height: 100%;
  width: 100%;
}
nav.menu-main ul li div.nav-link {
  justify-content: flex-end;
}
nav.menu-main ul li div.nav-link div.menu-ico i {
  transition: 0.3s;
}
nav.menu-main ul li:hover i {
  color: #ccc;
}
nav.menu-main ul li:hover .nav-link {
  background-color: black;
  color: darkred;
}
nav.menu-main ul li:hover .nav-link div.menu-ico {
  background-color: #710b1c;
  border-left: 2px solid white;
  color: white;
}
nav.menu-main ul li div.menu-ico {
  color: #6f1717;
  font-size: 2rem;
  padding-right: 5px;
  text-align: center;
  margin-right: 0;
  border-left: 2px solid darkred;
  width: 50px;
}
nav.menu-main ul li div.menu-ico i {
  transition: 0.2s;
}
nav.menu-main ul li div.menu-ico.menu-ico-logo {
  line-height: 100%;
  padding: calc(10% / 2);
}
nav.menu-main ul li div.menu-ico.menu-ico-logo img {
  width: 90%;
}

nav.menu-main.active {
  top: 0;
  left: 0;
}
nav.menu-main.active div.menu-ico i {
  transform: rotate(-180deg);
}

section.wrap {
  background-color: pink;
  min-height: calc(100vh - 50px);
  margin-left: 200px;
  padding: 30px 30px 0;
}

.header-search {
  flex-grow: 10;
  width: 200px;
  padding: 5px 20px;
}
.header-search:hover {
  background-color: transparent;
}
.header-search input {
  display: block;
  font-size: 2rem;
  height: calc(50px / 2);
  width: 100%;
  padding-left: 20px;
  border: 0;
  background-color: #eee;
}
.header-search input::placeholder {
  text-transform: lowercase;
  color: #bbb;
}
.header-search input:focus, .header-search input:active {
  outline: none;
  color: black;
}
.header-search .con {
  display: inline-block;
  position: relative;
}
.header-search .con:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 13px solid #1a1a1a;
  border-right: 14px solid transparent;
}
.header-search .con:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 13px solid #1a1a1a;
  border-left: 14px solid transparent;
}

/*# sourceMappingURL=style.css.map */
