.card {
    margin: 2rem 0;
    font-size: 1.8rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--color-grey-8);
    padding: 1.5rem;
    text-align: center;
  }
  .cardImg {
    align-self: center;
  }
  
  .cardBody {
    font-size: 1.5rem;
  }