.languages {
    color: white;
    padding: 0.5rem;
    margin-left: -1.5rem;
    display: flex;
  }
  
  .btn {
    border: 1px solid var(--color-grey-9);
    background: transparent;
    color: black;
    padding: 0.5rem;
    min-width: 3rem;
    text-align: center;
    flex-grow: 1; /*żeby równo rosły*/
  }
  
  .btn a:hover {
    background-color: var(--color-grey-2);
    color: #ffffff;
  }
  
  .active {
    color: white;
    font-style: bold;
    background-color: black;
  }