.header {
    position: fixed;
    width: 100%;
    height: var(--main-navigation-height);
    background-color: var(--color-grey-7);
    box-shadow: 0 1px 4px rgba(1, 1, 1, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    font-size: 2rem;
  }
  
  .header ul {
    display: flex;
    align-items: baseline;
    margin: 0.5rem;
  }
  
  .header li {
    margin: 0 1rem;
  }
  
  .header button {
    font: inherit;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    padding: 0.3rem 1rem;
    background-color: var(--color-grey-10);
  }
  
  .header a:hover {
    color: lightgray;
  }
  
  .header button:hover {
    background-color: black;
  }