.sidebar {
    width: var(--main-menu-width);
    height: calc(100vh - var(--main-navigation-height));
    background-color: var(--color-grey-10);
    position: fixed;
    top: 5rem;
    left: 0;
    font-size: 2rem;
    /* domyslnie menu schowane */
    /* left: -15vw; */
    padding: 1.5rem 1rem;
    z-index: 100; /*żeby ikona hamburgera byla widoczna*/
    transition: left 0.2s;
  }
  
  .hamburgerMenu {
    width: var(--main-navigation-height);
    height: var(--main-navigation-height);
    /* background-color: black; */
    /* domyslnie pojawia sie w lewym gornym rogu - zmiana na góre prawo*/
    position: absolute;
    right: 0; /* domylsnie ikona ma być widoczna */
    top: calc(-1 * var(--main-navigation-height));
    padding: 0.5rem;
    box-sizing: border-box; /*bo przez padding sie powiekszyl elemnt*/
  
    /* SREDNIO MI SIE TO PODOBA to transition */
    /*delay ostatnie*/
    /* transition: right .3s .3s;  */
  }
  
  /* linie hamburgera */
  .line {
    width: 3rem;
    height: 0.3rem;
    background-color: white;
    /* linie domyslnie na siebie nachodza */
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: left;
    /* animacja powrotu z X do zwyklego hamburgera */
    transition: transform 0.3s, top 0.3s 0.3s, opacity 0.2s;
  }
  
  .line1 {
    top: 1.55rem;
  }
  .line2 {
    top: calc(1.55rem + 0.8rem);
  }
  .line3 {
    top: calc(1.55rem + 0.8rem + 0.8rem);
  }