.section {
  display: flex;
  flex-flow: column;
  font-size: 1.8rem;
  padding: 3rem;
  min-height: 10rem;
  justify-content: center;
}

.form {
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.userSearch {
  /* background-color: pink; */
  /* min-height: 30rem; */
  padding: 1rem;
  display: flex;
  justify-content: center;
}

/* .userSearch label{
      font-size: 2rem;
  } */

.userSearch input {
  width: 20rem;
  padding: 0.2rem 1rem;
  color: black;
  font-size: 1.8rem;
}

.action {
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--color-grey-2);
  background-color: var(--color-grey-9);
  font-size: 1.8rem;
}

.icon {
  margin-left: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 1.25rem;
  height: 1.25rem;
}
