// TODO
@import "../../../../styles/main.scss";

.form {
  background-color: green;
  display: flex;

  .formContainer {
    flex: 6;
    display: flex;
    padding: 20px;
    gap: 20px;

    .left {
      //   margin: 10px;
      .submit {
        @include button-submit-mixin;
        background-color: white;
      }
    }
    // .rigt {
    //   margin: 10px;
    // }
  }
}
