@import "../../styles/main.scss";

.sidebar {
  min-width: $sidebar-max-width;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 0.5px solid $color-gray-light;
  min-height: 100vh;
  background-color: $color-main-white;
}

.sidebar__top {
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__logo-name {
  font-size: 2rem;
  font-weight: 800;
  color: $color-main-dark;
  font-family: $font-second;
}

.sidebar__separator {
  height: 0;
  border: 1px solid $color-gray-light;
}

.sidebar__center {
  margin-top: 1rem;
}

.sidebar__title {
  text-transform: uppercase;
  font-weight: 900;
  font-family: $font-second;
  font-size: 1.1rem;
  color: $color-gray-dark-transparent;
  margin: 15px 0 5px 5px;
}

.sidebar__item {
  display: flex;
  align-items: center;
  padding: 4px 0 4px 10px;
  cursor: pointer;
  border-right: 5px solid transparent;

  .sidebar__icon {
    font-size: 1.8rem;
    color: $color-main-medium;
  }

  .sidebar__icon-svg {
    width: 2rem;
  }
}

.sidebar__item--active {
  border-right: 5px solid $color-main-medium;
  background-color: $color-gray-light;
}

.sidebar__item:hover {
  background-color: $color-main-light;
}

.sidebar__subtitle {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 600;
  color: $color-gray-dark;
  line-height: 1.5rem;
  margin-left: 0.5rem;
}

.sidebar__bottom {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.sidebar__color-option {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid $color-gray-medium;
  cursor: pointer;
  margin: 20px 5px;
}

.sidebar__color-option--light {
  background-color: $color-main-white;
}

.sidebar__color-option--dark {
  background-color: $color-main-dark;
  border-color: $color-main-dark;
}

.sidebar__logo {
  // margin: 140px;
  display: none;
  width: 100%;

  @include sidebarBreakpoint {
    position: absolute;
    flex-direction: column;
    bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    path {
      fill: $color-main-dark;
    }
  }
}

.sidebar__img {
  width: 50px;
  height: 50px;
}
