@import "../../styles/main.scss";

.chart {
  flex: 4;
  @include box-shadow-mixin;
  padding: 1rem;
  color: $color-gray-medium;

  .title {
    margin-bottom: 2rem;
    font-family: $font-second;
    font-weight: 800;
  }

  .chartGrid {
    // potrzebne do darkmode
    stroke: $color-gray-light;
  }
}
