@import "../../styles/main.scss";

.home {
  display: flex;
  .homeContainer {
    flex: 6;
    .widgets,
    .charts {
      display: flex;
      padding: 2rem;
      // marginesy międyz elementami, zamiast margin:2rem w .widget
      gap: 2rem;

      .charts {
        // klasa do wykresów ma za duży padding
        padding: 5px 20px;
      }
    }
    .listContainer {
      padding: 2rem;
      margin: 2rem;
      @include box-shadow-mixin;

      .listTitle {
        font-family: $font-second;
        font-weight: 800;
        color: $color-gray-medium;
        margin-bottom: 1.5rem;
      }
    }
  }
}
