.home {
  display: flex;
  .homeContainer {
    flex: 6;
    .widgets {
      display: flex;
      padding: 2rem;
      // marginesy międyz elementami, zamiast margin:2rem w .widget
      gap: 2rem;
    }
  }
}
