[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
bidict = "==0.22.0"
certifi = "==2022.5.18.1"
charset-normalizer = "==2.0.12"
django-cors-headers = "==3.12.0"
django-extensions = "==3.1.5"
django-filter = "==21.1"
django = "==4.0.5"
djangorestframework = "==3.13.1"
dnspython = "==2.2.1"
eventlet = "==0.33.1"
greenlet = "==1.1.2"
idna = "==3.3"
numpy = "==1.22.4"
pandas = "==1.4.2"
pymongo = "==4.1.1"
python-dateutil = "==2.8.2"
python-engineio = "==4.3.2"
python-socketio = "==5.5.2"
pytz = "==2022.1"
requests = "==2.27.1"
six = "==1.16.0"
sqlparse = "==0.4.2"
tzdata = "==2022.1"
urllib3 = "==1.26.9"

[dev-packages]

[requires]
python_version = "3.10"
