Django==4.0.6
djangorestframework==3.13.1
Markdown==3.4.1
django-filter==22.1
django-cors-headers==3.13.0
django-extensions==3.2.0
pymongo==4.1.1
dnspython==2.2.1
eventlet==0.33.1
rzodkiewka>=0.0.8
# TODO uważać na wersje
python-socketio==5.5.2
#black