@import "../../../styles/main.scss";

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include box-shadow-mixin;
  background-color: #fff;
  border-radius: 7px;
  padding: 50px 70px;
  background-color: white;
  border-radius: 10px;
}

.login-form__subtitle {
  font-family: $font-second;
  color: $color-gray-dark;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

.login-form__button {
  @include form-button-submit-mixin;
}

.login-form__error-messsage {
  font-size: 1.2rem;
  color: $color-font-error;
  margin-top: 10px;
}
