@import "../../styles/main.scss";

.featured {
  flex: 2;
  @include box-shadow-mixin;
  padding: 10px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-gray-medium;

    .title {
      font-family: $font-second;
      font-size: 1.6rem;
      font-weight: 800;
    }
  }
}
