@import "../../styles/main.scss";

.featured {
  flex: 2;
  @include box-shadow-mixin;
  padding: 10px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-gray-medium;

    .title {
      font-family: $font-second;
      font-size: 1.6rem;
      font-weight: 800;
    }
  }

  .bottom {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .featuredChart {
      width: 100px;
      height: 100px;
    }

    .title {
      font-family: $font-second;
      font-weight: 700;
      color: $color-gray-medium;
    }

    .amount {
      font-size: 3rem;
    }

    .description {
      font-weight: 400;
      font-size: 1.2rem;
      color: $color-gray-dark;
      text-align: center;
    }

    .summary {
      // flex nie zrobi space-between i nie odseparuje elementów jeśli nie mamy szerokości width
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        text-align: center;

        .itemTitle {
          font-family: $font-second;
          font-weight: 500;
          font-size: 1.4rem;
          color: $color-gray-dark;
        }

        .itemResult {
          display: flex;
          align-items: center;
          margin: 1rem;
          font-size: 1.4rem;

          // pozytywne i negatywne - druga klasa
          &.positive {
            color: green;
          }
          &.negative {
            color: red;
          }
        }
      }
    }
  }
}
