.content {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--color-grey-10);
  margin: 10rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
  width: 100%;
  padding: 0 3rem;
}

.content p span {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--color-grey-4);
  margin-right: 0.7rem;
}

.content h2 {
  margin: 2.5rem 0;
}

.actions {
  display: flex;
  padding: 10rem;
}

.action {
  padding: 10rem;
}
