@import "../../../styles/main.scss";

.vulnerability-table {
  border-collapse: collapse;
  min-width: 400px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  @include box-shadow-mixin;
  border: 1px solid $color-gray-light;
}

.vulnerability-table__thead-tr {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  color: $color-gray-dark;
  border-bottom: 1px solid $color-gray-light;
}

// ----scora pierwsza kolumna
.vulnerability-table__score,
.vulnerability-table__score-item {
  min-width: 120px;
}

.vulnerability-table__score-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.cvss {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  color: $color-main-dark;
  font-family: $font-main;
}

.cvss {
  margin-right: 10px;
}

.cvss--critical {
  background-color: $color-severity-critical;
}

.cvss--medium {
  background-color: $color-severity-medium;
}

.cvss--high {
  background-color: $color-severity-high;
}

.cvss--low {
  background-color: $color-severity-low;
}

.vulnerability-table__cwe-item {
  width: 100px;
}

.vulnerability-table__cve-item {
  width: 140px;
}

// głównej style tabelki
.vulnerability-table__th,
.vulnerability-table__td {
  padding: 10px;
}

.vulnerability-table__td {
  font-size: 1.3rem;
}

.vulnerability-table__cve-key,
.vulnerability-table__cwe-item-key {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}

.vulnerability-table__cve-key:hover,
.vulnerability-table__cwe-item-key:hover {
  color: $color-main-medium;
  cursor: pointer;
}

// paginacja
.vulnerability-table__actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.vulnerability-table__arrows {
  display: flex;
  height: inherit;
  color: grey;
  font-size: 30px;
  font-weight: 800;
  margin-right: 10px;
}
