@import "../../../../styles/main.scss";

.dashboardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboardTop__widget {
  @include box-shadow-mixin;
  border: 1px solid black;
  max-width: 50px;
}
