@import "../../../../styles/main.scss";

.widget {
  display: flex;
  // width: 2rem;
  //   flex:1 zamiast width:2rem bo moze to powodować problemy na różnych ekranach
  flex: 1;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-between;
  @include box-shadow-mixin;
  border-radius: 10px;
  height: 10rem;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(211, 211, 211, 0.548);
    border-radius: 5px;
    align-self: flex-end;
    color: $color-main-medium;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-family: $font-second;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.4rem;
      color: $color-gray-medium;
    }

    .counter {
      font-size: 2.8rem;
      font-weight: 300;
    }

    .link {
      // żeby podkreślenie nie było za długie
      width: max-content;
      font-size: 1.2rem;
      border-bottom: 1px solid $color-gray-medium;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 1.4rem;

      &.positive {
        color: $color-status-success;
      }
      &.negative {
        color: $color-status-error;
      }
    }
  }
}
