@import "../../../styles/main.scss";

.dashboard__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard__widgets {
  display: flex;
  padding: 2rem;
  // marginesy międyz elementami, zamiast margin:2rem w .widget
  gap: 2rem;
}

.dashboard__charts {
  display: flex;
  padding: 2rem;
  // marginesy międyz elementami, zamiast margin:2rem w .widget
  gap: 2rem;
  padding: 5px 20px;
}

.chart__list-container {
  padding: 2rem;
  margin: 2rem;
  @include box-shadow-mixin;
}

.chart__list-title {
  font-family: $font-second;
  font-weight: 800;
  color: $color-gray-medium;
  margin-bottom: 1.5rem;
}
