@import "../../styles/main.scss";

.datatable {
  height: 50vh;
  padding: 10px;

  .dataGrid {
    // czcionkę trzeba wymuślić bezpośrednio na tej klasi - NIE dziedziczy z diva rodzica
    font-size: 1.2rem;
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      @include status-success-mixin;
    }
    &.pending {
      @include status-pending-mixin;
    }
    &.passive {
      @include status-error-mixin;
    }
  }
}
