@import "../../_settings/variables";

.subtitle {
  font-size: $font-size-large;
  color: $color-gray-dark;
  font-family: $font-second;
  font-weight: 800;
  list-style: 1;

  &:after {
    content: "";
    display: inline-block;
    width: 1em;
    margin-top: 0.2em;
    margin-left: 0.5em;
  }
}
