// .chart-area-three-container {
//   background-color: pink;
// }

.chart-area-three__row {
  display: flex;
}

.chart-area-three__col {
  display: flex;
}

.chart-area-three {
  border: 1px solid blue;
}
