.world-map-app {
  display: flex;
  flex-direction: column;
  // WARNING - tu ważne style align-items: stretch;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px 150px;
  text-align: center;
  box-sizing: border-box;
}
