.auth {
  display: flex;
  flex-flow: column;
  font-size: 2rem;
  justify-content: flex-start;
  background-color: var(--color-grey-9);
  min-width: 30%;
  height: 50rem;
  margin-top: 10rem;
  flex-basis: 60rem;
}

.auth h1 {
  padding: 5rem;
}

.control {
  padding: 1rem 5rem;
  /* labelka obokt inputu w dużym */
  display: flex;
  /* flex-basis: 0;
      flex-grow: 1; */
  padding-left: 10rem;
}

.control input {
  width: 20rem;
  padding: 0.2rem 0.5rem;
  margin-left: 0.7rem;
  color: black;
  font-size: 1.8rem;
  flex-grow: 1;
}

.actions {
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  /* width: 40%; */
  align-items: center;
}

.actions button {
  border: 3px solid var(--color-grey-2);
  background-color: var(--color-grey-10);
  padding: 0.5rem 1.5rem;
  margin: 5rem 2.5rem;
  font-size: 1.8rem;
}

.actions button:hover {
  background-color: var(--color-grey-7);
  cursor: pointer;
}

.actions .toggle {
  border: none;
  background: transparent;
  padding: 0.5rem 5rem;
  margin: 5rem 2.5rem;
  font-size: 1.8rem;
}

.actions .toggle:hover {
  background: transparent;
  text-decoration: underline;
}

/* ekran laptopa */
@media (max-width: 1024px) {
  .auth {
    font-size: 1.8rem;
    min-width: 50%;
  }
  .control input {
    font-size: 1.6rem;
  }
  .actions button {
    font-size: 1.6;
  }
}

/* mały ekran */
@media (max-width: 768px) {
  .auth {
    height: 100%;
    min-width: 90%;
  }

  .control {
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
    flex-basis: 100%;
  }

  .control input {
    padding: 0;
  }

  .actions button {
    font-size: 1.2rem;
  }

  .actions .toggle {
    font-size: 1.2rem;
  }
}
