// https://www.youtube.com/watch?v=iRaelG7v0OU

.new-note {
  background-color: rgb(255, 230, 230);
  /* FIXME import zmiennych */
  /* background-color: $color-text-editor-white; */
  min-height: 100vh;

  .ql-editor {
    // wysokosc kartki
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }

  .ql-container.ql-snow {
    // cnetrowanie dokumentu
    border: none;
    display: flex;
    justify-content: center;
  }

  .new-note__container {
    .ql-toolbar.ql-snow {
      // przyklejenie opcji menu
      display: flex;
      justify-content: center;
      position: sticky;
      top: 0;
      // koljenosc, bo jest sticky ale chowa się za kartką
      z-index: 1;
      background-color: rgb(255, 230, 230);
      border: none;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

@page {
  margin: 1in;
}

@media print {
  .new-note {
    background-color: none;

    .ql-editor {
      width: 6.5in;
      height: 9in;
      padding: 0;
      margin: 0;
      box-shadow: none;
      align-self: flex-start;
    }

    .new-note__container {
      .ql-toolbar.ql-snow {
        display: none;
      }
    }
  }
}
