@import "../../../styles/main.scss";

.detailsContainer {
  margin-top: 1rem;
  display: flex;
  height: calc(100vh - ($navbar-height + $header-height + 7rem));
  flex-direction: column;
  @include box-shadow-mixin;
  padding: 2rem;
  //   justify-content: center; w dół stracznie idzie
  align-items: center;
  border-radius: 7px;

  .detailsCard {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    // RESPONSIVENESS szerokość sidebara dla mniejszych okien
    min-width: 450px;
    max-width: 600px;
    width: 100%;
    justify-content: ceneter;

    .detail {
      display: flex;
      font-size: 1.5rem;
      // width: 100%;
      justify-content: space-between;
      padding: 5px;
      //   background-color: green;
    }
  }
}
