@import "../../../styles/main.scss";

.detailsContainer {
  display: flex;
  height: calc(100vh - ($navbar-height + $header-height));
  flex-direction: column;
  @include box-shadow-mixin;

  .detail {
    display: flex;
    font-size: 1.5rem;
    gap: 5px;
    background-color: green;
    color: white;
  }
}
