@import "../../styles/main.scss";

.widget {
  display: flex;
  //   width: 2rem;
  //   flex:1 zamiast width:2rem bo moze to powodować problemy na różnych ekranach
  flex: 1;
  padding: 1rem;
  justify-content: space-between;
  @include box-shadow-mixin;
}
