.btn {
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    background-color: var(--color-grey-6);
    border: 1px solid var(--color-grey-3);
    border-radius: 6px;
    color: #dafff7;
    padding: 0.5rem 1.5rem;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  }
  
  .btn:hover,
  .btn:active {
    background-color: var(--color-grey-3);
    border-color: var(--color-grey-6);
  }