.section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
  }
  
  .section h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
  
  .section p {
    margin-bottom: 2rem;
  }