.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: fixed;
    bottom: 0;
    left: var(--main-menu-width);
    font-size: 2rem;
    height: 5rem;
    width: 100%;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    color: white;
    padding: 0.5rem 10%;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .notification h2 {
    margin-right: 2.5rem;
    color: white;
    font-size: 2rem;
  }
  
  .pending {
    background-color: #09314c;
  }
  
  .success {
    background-color: #032611;
  }
  
  .error {
    background-color: #8a301f;
  }