// łąmie konwencje BEM, bo z wykresami moznaby oszaleć z nadawaniem klas
.filtering-visually-chart {
  width: 100%;
  height: 100%;
  border: 1px solid green;
  padding: 60px;

  svg {
    display: block;
    width: 100%;
    min-height: 300px;
    overflow: visible;
  }
}
