@import "../../../../styles/main.scss";

.vulnerabilities-general {
  display: flex;
  @include box-shadow-mixin;
  min-height: 300px;
  padding: 5px;
  border-radius: 10px;
  margin: 7px;
  justify-content: space-between;
}

.vulnerabilities-general__left {
  border: 1px solid red;
  width: 100%;
}

.vulnerabilities-general__right {
  background-color: grey;
  width: 100%;
}
