/* reset and common styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Slabo 27px", serif;
  outline: none;
  color: white;
  box-sizing: border-box;
  list-style: none;
}

body {
  /* Shades of Athens Grey #DDDFDF od najjaśniejszego*/
  --color-grey-1: #dddfdf;
  --color-grey-2: #b1b2b2;
  --color-grey-3: #8e8e8e;
  --color-grey-4: #727272;
  --color-grey-5: #5b5b5b;
  --color-grey-6: #494949;
  --color-grey-7: #3a3a3a;
  --color-grey-8: #2e2e2e;
  --color-grey-9: #252525;
  --color-grey-10: #1e1e1e;
  
  --color-black-1: #18191b;
  --color-black-2: #131416;
  --color-black-3: #0c0d0e;


  --main-navigation-height: 5rem;
  --main-menu-width: 15rem;

  background-color: #00000075;
  background-image: url(../public/black-black-grey-black.png); /*, center, no-repeat;*/
  background-position: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
  box-sizing: border-box;
  max-width: 100vw;
  min-width: 90vw;
  min-height: 100vh;
}

/* 1rem domyslnie 16px z HTML; ale chcę zemy 1rem był równy 10px bo tak się łatwo styluje */
html {
  font-size: 62.5%; /*1rem == 10px*/
}


.main{
  display: flex;
  flex-flow: row;
  justify-content: center;
  min-height: calc(100vh - var(--main-navigation-height));
  width: calc(100% - var(--main-menu-width));
  margin-left: var(--main-menu-width);
  box-sizing: border-box;
  text-align: center;
  padding: 40px;

  /* background-color: pink; */

}