@import "../../styles/main.scss";

.single {
  font-size: 1.2rem;
  display: flex;
  width: 100%;

  .singleContainer {
    flex: 6;

    .top {
      padding: 2rem;
      display: flex;
      gap: 2rem;

      .left {
        // informacje o użytkowniku
        position: relative;
        flex: 1;
        @include box-shadow-mixin;

        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 1.2rem;
          color: $color-main-medium;
          background-color: $color-main-medium-transparent;
          cursor: pointer;
          border-radius: 0px 0px 0px 5px;
        }

        .item {
          display: flex;
          gap: 2rem;

          .itemImg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            .itemTitle {
              margin-bottom: 1rem;
              font-family: $font-second;
              color: $color-font-medium;
            }
          }
        }
      }

      .right {
        // wykres chart będzie większy
        flex: 2;
      }
    }
  }
}
