@import "../../styles/main.scss";

.navbar {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #555;
  background-color: $color-main-white;
  margin-left: $sidebar-max-width;
}

.navbar__container {
  max-height: $navbar-max-height;
  @include box-shadow-mixin;
  padding: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.navbar__items {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.navbar__item {
  display: flex;
  align-items: center;
  padding: 4px 0 4px 10px;
  margin-right: 10px;
  cursor: pointer;
  height: 100%;
}

.navbar__icon {
  font-size: 1.8rem;
  color: $color-main-medium;
  margin-right: 0.2rem;
}

.navbar__text {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 600;
  color: $color-gray-dark;
  line-height: 1.5rem;
}

.navbar__search {
  display: flex;
  align-items: center;
  border: 0.5px solid $color-gray-light;
  padding: 3px;
}

.navbar__input {
  border: none;
  outline: none;
  background-color: transparent;

  &::placeholder {
    font-size: 1.2rem;
  }
}
