@import "../../../../styles/main.scss";

.dashboardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboardTop__widget {
  @include box-shadow-mixin;
  border: 1px solid black;
  max-width: 50px;
}

.icon {
  font-size: 30rem;
  padding: 5px;
  background-color: rgba(211, 211, 211, 0.548);
  border-radius: 5px;
  // wyrównaj do prawej do brzegu
  align-self: flex-end;
  width: 25px;
  height: 25px;
  color: $color-main-medium;
}
