@import "../../styles/main.scss";

.sidebar {
  flex: 1;
  position: relative;
  //   border-right: 0.5px solid  $color-gray-light;
  border-right: 2px solid $color-main-light;
  min-height: 100vh;
  background-color: $color-main-white;

  .top {
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .logoName {
      font-size: 2rem;
      font-weight: bold;
      color: $color-main-medium;
      text-transform: uppercase;
      margin-bottom: 3px;
    }
  }

  hr {
    height: 0;
    border: 1px solid $color-main-light;
  }

  .center {
    padding-top: 1rem;
    padding-left: 1rem;
    ul {
      .title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        color: $color-main-medium;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
      }
      li {
        display: flex;
        align-items: center;
        padding: 3px;
        cursor: pointer;
        &:hover {
          background-color: $color-main-light;
        }

        .icon {
          font-size: 1.8rem;
          color: $color-main-medium;
        }

        span {
          text-transform: capitalize;
          font-size: 1.5rem;
          font-weight: 500;
          color: $color-font-dark;
          line-height: 1.5rem;
          margin-left: 0.5rem;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    // lepiej wyglądają blizej lewej niz na środku
    // justify-content: center;
    margin: 1rem;

    .colorOption {
      width: 2rem;
      height: 2rem;
      border-radius: 5px;
      border: 1px solid $color-font-light;
      cursor: pointer;
      margin: 20px 3px;

      &:nth-child(1) {
        background-color: $color-font-light;
      }
      &:nth-child(2) {
        background-color: $color-font-dark;
        border: 1px solid $color-font-dark;
      }
    }
  }

  .logoFooter {
    display: none;
    @include sidebarBreakpoint {
      position: absolute;
      bottom: 0;
      display: flex;
      margin: auto;
      width: 100%;
      align-items: center;
      justify-content: center;
      .logoContainer {
        width: 145px;
        height: 145px;
        padding: 40px;
        img {
          border: 1px solid $color-main-light;
          border-radius: 5px;
          background-color: white;
          padding: 5px;
        }
      }
    }
  }
}
