@import "../../../styles/main.scss";

.cveDatatable {
  height: 94%;
  padding: 10px;

  .dataGrid {
    // czcionkę trzeba wymuślić bezpośrednio na tej klasi - NIE dziedziczy z diva rodzica
    font-size: 1.2rem;
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    //severity
    &.critical,
    &.medium,
    &.high,
    &.low {
      font-weight: 700;
      text-align: center;
      width: 3rem;
    }

    &.critical {
      background-color: $color-severity-critical;
    }
    &.medium {
      background-color: $color-severity-medium;
    }
    &.high {
      background-color: $color-severity-high;
    }
    &.low {
      background-color: $color-severity-low;
    }
    //vectors
    &.vectorCritical,
    &.verctorHigh,
    &.vectorMedium,
    &.vectorLow {
      font-weight: 500;
      font-size: 1.3rem;
    }
    &.vectorCritical {
      color: $color-severity-critical;
    }
    &.verctorHigh {
      color: $color-severity-high;
    }
    &.vectorMedium {
      color: $color-severity-medium;
    }
    &.vectorLow {
      color: black;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      @include button-view-mixin;
    }

    .deleteButton {
      @include button-delete-mixin;
    }
  }
}
