@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 100vw;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: #f1356d;
}

.navbar .links {
    margin-left: auto;

}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: #f1356d;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

/* blog previews / list */
.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;

}

/*fajne to daje cien*/
.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}

.blog-preview a {
    text-decoration: none;
}

/* blog details page */
.blog-details h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 10px;
}

.blog-details div {
    margin: 20px 0;
}

/*przycisk usuwania bloga*/
.blog-details button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

